:root{
    --discover-orange:#ee6d16;
    --capital1-red:#cc2427;
    --font:"Open Sans", Arial, sans-serif;
}

.background{
    background: radial-gradient( var(--discover-orange), var(--capital1-red));
    position:absolute;
    height: 100%;
    width:100%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
nav {
  background-color: transparent;
  overflow: hidden;
  width:100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: var(--capital1-red);
  color: black;
}

.title {
    font-family: var(--font);
    font-size: xxx-large;
    color: white;
    margin: 0;
    text-shadow: 15px 15px 0px #bc3f13;
    position: absolute;
    left: 25%;
    top: 27.5%;
    transform: translate(-50%, -50%); /* This centers the text perfectly on that point */
}

.workflow {
    position: absolute;
    left: 45%;
    top: 15%;
    width: 50%;
}

.description {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    text-align: center;
    width: 500px;
    text-shadow: 5px 5px 0px #bc3f13;
}

.title-container {font-family: var(--font);}

.cover-sheet{
    position: absolute;
    left: 20%;
    top: 52%;
    transform: translate(-50%, -50%);
    color: var(--discover-orange);
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: medium;
    background-color: white;
    border-color: white;
}

.ciriculum-vitae{
    position: absolute;
    left: 30%;
    top: 52%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: medium;
    background-color: transparent;
    border-color: white;
}

.description_container{
    text-align: center;
    font-size: larger;
    font-family: var(--font);
    color: white;
    position: absolute;
    top: 190%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -25%);
}

.certificates {
    position: absolute;
    top: 130%;
    left: 61%;
    width: 98%;
    transform: translate(-50%);
}
.abbr{text-decoration: none;}

.cover-sheet:hover,.ciriculum-vitae:hover{background-color:#516dfe; border-color:#516dfe}
.cover-sheet:hover{color:white}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1% 0;
  width: 100%;
}

footer a {
  color: #add8e6;
  text-decoration: none;
}

a{color:#1400ed;}

.aws-cloud-practitioner,.sdp-safe-agile-5{width:7.5%;height:15%;}
.certificates img {transition: transform 0.2s; width:8%;height:15%;}
.certificates img:hover {transform: translateY(-10px);}
.divider{
    position: absolute;
    top:100%;
}