<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - RepoCloud</title>
    <link rel="stylesheet" href="../client/css/style.css">
    <link rel="stylesheet" href="../client/style/variables.css">
    <link rel="stylesheet" href="../client/css/dashboard.css">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
</head>
<body class="dashboard-body">
    <div id="global-navbar-container"></div>
    <div class="dashboard-layout">
        <aside class="sidebar">
        </aside>
        <main class="workspace" style="display: flex; flex-direction: column;">
            <header class="workspace-header">
                </header>
            <div class="data-grid">
                </div>
            <div id="global-footer-container" style="margin-top: auto; padding-top: 4rem;"></div>
        </main>
    </div>
    <script src="../client/js/script.js"></script>
</body>
</html>